body {
   display:flex;
    justify-content: center;
    background: lightgrey;
    margin: 0px;

}

.wrapper-header {

    position: absolute;
    text-align: center;
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: white;
    font-family: 'Rubik Mono One', sans-serif;

}

div[id*="wrapper-content"]{
   
    position: absolute;
    margin-top: 50px;
    height: 420px;
    width: 500px;
    background-color: white;
}

#wrapper-content-1{
    margin-top: 100px;
}

div[id*="header-content"]{
    display: flex;
    border: none;
    height: 58px;
    border-bottom: solid rgba(143, 148, 143, 0.384) 1px;
}

div[id*="title-content"]{
    padding: 0px 10px;
    width: 430px;
  
    font-family: 'Kalam', cursive;
    font-size: 16px;

}
div[id*="numbre-content"]{
    color: grey;
}
img[id*="img-content"]{
    object-fit: cover;
	object-position: center;
    margin-top: 5px;
    width: 500px;
    height: 270px;  
}
div[id*="wrapper-footer"]{
   
    border: none;
    border-top: solid rgba(143, 148, 143, 0.384) 1px; 
    font-family: 'Farsan', cursive;
    font-size: 18px;
}
p[id*="txt-footer"]
{
    padding: 0px 15px 5px;
    text-align: justify;
}

